In [5]:
angka = 15
print(f"{angka} lebih besar dari 10")

15 lebih besar dari 10

In [7]:
angka = 8
if angka > 10:
    print(f"{angka} lebih besasr dari 10")
else:
    print(f"{angka} lebih kecil dari 10")

8 lebih kecil dari 10

In [10]:
angka = 2
if angka%2!=0:
    print(f"{angka} adalah ganjil")
else:
    print(f"{angka} adalah genap")

2 adalah genap

In [17]:
angka = -1
if angka>0:
    print(f"{angka} adalah bilangan positif")
elif angka<0:
    print(f"{angka} adalah bilangan negatif")
else:
    print(f"{angka} adalah bilangan nol")

-1 adalah bilangan negatif

In [18]:
menu = ["nasi goreng",
        "mie ayam",
        "soto ayam",
        "ayam penyet"]
makanan = "mie yamin"
if makanan in menu:
    print(f"ada {makanan} di menu")
else:
    print(f"tidak ada {makanan} di menu")

tidak ada mie yamin di menu

In [21]:
#mencari penjual buah, kalau ada lebih dari 3 jenis buah, mampir, kalau ada jeruk beli, kalau ga ada ga beli

penjual_buah = ["jeruk", "pisang", "pepaya", "mangga"]
if len(penjual_buah)>4:
    if "rambutan" in penjual_buah:
        print("Beli jeruk")
    else:
        print("Tidak beli apa apa") 
else:
    print("Cari tukang buah lain")

Cari tukang buah lain

In [23]:
penjual_buah = ["jeruk", "pisang", "pepaya", "anggur"]
if "jeruk" in penjual_buah and "mangga" in penjual_buah:
    print("Beli jeruk dan mangga")
else:
    print("Cari penjula lain")

Cari penjula lain

In [27]:
#program konversi nilai angka menjadi huruf
#kriteria 
#   >= 80 A
#   65-79 B
#   40-64 C
#   20-39 D
#   0-19  E

nilai = 0
if nilai>=80 and nilai<=100:
    print("Nilai A")
elif nilai>=65 and nilai<80:
    print("Nilai B")
elif nilai>=40 and nilai<65:
    print("Nilai C")
elif nilai>=20 and nilai<40:
    print("Nilai D")
elif nilai>=0 and nilai<20:
    print("Nilai E")
else:
    print("Nilai Invalid")

Nilai E

In [30]:
angka = input("maukan angka :")
angka = int(angka)
c = angka + 5

print(f"{angka} ditambah 5 adalah {c}")

3 ditambah 5 adalah 8

In [31]:
i = 0
while i < 5:
    print(f"i ke : {i}")
    print("tes loop")
    i = i + 1

i ke : 0
tes loop
i ke : 1
tes loop
i ke : 2
tes loop
i ke : 3
tes loop
i ke : 4
tes loop

In [32]:
pesanan = []
pesan = ""
while pesan != "cukup":
    pesan = input("Masukan pesanan Anda : ")
    if pesan != "cukup":
        pesanan.append(pesan)
print(f"Pesananmu : {pesanan}")

Pesananmu : ['ayam', 'sapi', 'bebek', 'ikan']

In [33]:
i=1
while i <= 10:
    print(f"7 x {i} = {7*i}")
    i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [34]:
i = 1
j = 1

while j <= 10:
    while i <= 10:
        print(f"{j} x {i} = {j*i}")
        i = i+1
    j = j+1
    i = 1
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [40]:
penjual_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
i=0
while i < len(penjual_buah):
    print(f"Abang ini jual {penjual_buah[i]}")
    i = i + 1

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [41]:
for buah in penjual_buah:
    print(f"Abang ini jual {buah}")

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [43]:
for i in [0,1,2,3]:
    print(f"Abang ini jual {penjual_buah[i]}")

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [44]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(3,20,3))

[3, 6, 9, 12, 15, 18]

In [46]:
list(range(3,20))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
list(range(26))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [48]:
for i in range(len(penjual_buah)):
    print(f"Abang ini jual {penjual_buah[i]}")

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [ ]:
penjual_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
ket = ['stok habis', 'stok banyak', 'lagi musim', 'stok dikit']
for i in

In [49]:
for i in range(1,11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [50]:
for j in range(1,11):
    for i in range(1,11):
        print(f'{j} x {i} = {j*i}')
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************